@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Montserrat:400,700);
/*************************
Base Styles
*************************/
html {
  color: #373e48;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}
.wrapper {
  width: 100%
  margin: 0 5%;
}
.header-container {
    background-color: #58575c;
}
.title {
    color: white;
    font-weight: 400;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav a {
  display: block;
  margin-bottom: 10px;
  padding: 0px 0;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  color: white;
}
nav a:hover,
nav a:visited {
  color: white;
}
nav a:hover {
  text-decoration: underline;
}
.main-container {
  background: rgba(216,205,120,1);
  background: -moz-linear-gradient(top, rgba(216,205,120,1) 0%, rgba(155,219,181,1) 98%, rgba(155,219,181,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(216,205,120,1)), color-stop(98%, rgba(155,219,181,1)), color-stop(100%, rgba(155,219,181,1)));
  background: -webkit-linear-gradient(top, rgba(216,205,120,1) 0%, rgba(155,219,181,1) 98%, rgba(155,219,181,1) 100%);
  background: -o-linear-gradient(top, rgba(216,205,120,1) 0%, rgba(155,219,181,1) 98%, rgba(155,219,181,1) 100%);
  background: -ms-linear-gradient(top, rgba(216,205,120,1) 0%, rgba(155,219,181,1) 98%, rgba(155,219,181,1) 100%);
  background: linear-gradient(to bottom, rgba(216,205,120,1) 0%, rgba(155,219,181,1) 98%, rgba(155,219,181,1) 100%);
}
.main article {
  padding: 8% 0;
}
.main article h1 {
  font-size: 2.4em;
  font-weight: 600;
}
.btn-default {
  margin: 10px 5px;
  display: inline-block;
  padding: 15px 70px;
  text-transform: uppercase;
  background-color: #4990e2;
  color: white;
  border: none;
  border-radius: 3px;
}
.carousel-container header {
  padding: 20px 0;
}
.carousel-container .wrapper h3 {
  color: #373e48;
  font-size: 1em;
  font-weight: 300;
  line-height: .7;
}

/*************************
Owl Carousel
*************************/
#owl-container {
  width: 90%;
  margin: auto;
}
#owl-container .item{
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  max-height: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#owl-container .item img{
  display: block;
  width: 100%;
  height: 60%;
}
.customNavigation{
  margin: 0 5%;
  text-align: left;
}
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*owl other*/


.owl-theme .owl-controls .owl-buttons div{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center
}

#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:4px;
}

#owl-demo .owl-item > div{
  background : #42bdc2;
  text-align: center;
  padding:50px 0px;
  margin:3px;
  color: white;
  font-size:32px;
  border:1px white;
}

.wrapper-with-margin{
  margin:0px 50px;
}

 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 150px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 150px;
}

/*************************
Media Queries
*************************/
@media only screen and (min-width: 480px) {
  nav a {
    float: right;
    width: 12%;
    padding: 5px 1%;
    margin-bottom: 0;
  }
  nav li:first-child a {
    margin-left: 0;
  }
  nav li:last-child a {
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px), only screen and (min-width: 700px) and (orientation: landscape) {
  .title {
    float: left;
    font-size: 1.4em;
  }
  nav {
    float: right;
    width: 60%;
  }
  nav a {
    padding: 15px 1%;
  }
  .main article {
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
    margin: 0 auto;
  }
  .title {
    font-size: 2em;
  }
  nav a {
    padding: 25px 1%;
  }
}

/*************************
Clearfix
*************************/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}