@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Montserrat:400,700);

/*************************
Base Styles
*************************/

html {
  color: #373e48;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

canvas {
  background: gray;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.header-container {
    background-color: #58575c;
}

.title {
    color: white;
    font-weight: 400;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 0px 0;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  color: white;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.main-container {
  background: rgba(216,205,120,1);
  background: -moz-linear-gradient(top, rgba(216,205,120,1) 0%, rgba(155,219,181,1) 98%, rgba(155,219,181,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(216,205,120,1)), color-stop(98%, rgba(155,219,181,1)), color-stop(100%, rgba(155,219,181,1)));
  background: -webkit-linear-gradient(top, rgba(216,205,120,1) 0%, rgba(155,219,181,1) 98%, rgba(155,219,181,1) 100%);
  background: -o-linear-gradient(top, rgba(216,205,120,1) 0%, rgba(155,219,181,1) 98%, rgba(155,219,181,1) 100%);
  background: -ms-linear-gradient(top, rgba(216,205,120,1) 0%, rgba(155,219,181,1) 98%, rgba(155,219,181,1) 100%);
  background: linear-gradient(to bottom, rgba(216,205,120,1) 0%, rgba(155,219,181,1) 98%, rgba(155,219,181,1) 100%);

}
.main article {
  padding: 8% 0;
}

.main article h1 {
  font-size: 2.4em;
  font-weight: 600;
}

.btn-default {
  margin: 10px 5px;
  display: inline-block;
  padding: 15px 70px;
  text-transform: uppercase;
  background-color: #4990e2;
  color: white;
  border: none;
  border-radius: 3px;
}

.carousel-container header {
  padding: 20px 0;
}

.carousel-container .wrapper h3 {
  color: #373e48;
  font-size: 1em;
  font-weight: 300;
  line-height: .7;
}

.slider{
  text-align:left;
  margin: 0% 10%;
  }

.slide {
  padding: 2%;
}

.slide p {
  font-weight: 300;
  font-size:.8em;
  line-height: 1;
}

.slide h3 {
  font-weight: 400;
  font-size: 1em;
}


/*************************
Media Queries
*************************/

@media only screen and (min-width: 480px) {

  nav a {
    float: right;
    width: 15%;
    padding: 5px 1%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }

}

@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {

  .title {
    float: left;
    font-size: 1.4em;
  }

  nav {
    float: right;
    width: 60%;
  }

  nav a {
    padding: 15px 1%;
  }

  .main article {
    float: left;
    width: 50%;
  }
  
}

@media only screen and (min-width: 1140px) {

  .wrapper {
    width: 1026px;
    margin: 0 auto;
  }

  .title {
    font-size: 2em;
  }

  nav a {
    padding: 25px 1%;
  }
  
}


/*************************
Clearfix
*************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}